<h2>Films</h2>
<div class="card-columns">
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="8d130a37-d30f-4a36-ac90-30f81f26e134" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
    <div class="card">
        <img src="assets/pelis/train.jpg" class="card-img" alt="...">
    </div>
    <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
            <img src="assets/pelis/casa.jpg" class="card-img-top" alt="...">
        </blockquote>
    </div>
    <div class="card">
          <img src="assets/pelis/bride.jpg" class="card-img" alt="...">
    </div>
    <div class="card">
        <img src="assets/pelis/bob.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Martin Scorsese</h5>
            <p class="card-text">Part documentary, part concert film, part fever dream, this film captures the troubled spirit of America in 1975 and the joyous music that Dylan performed during the fall of that year.</p>
        </div>
    </div>
    <div class="card bg-danger text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <img src="assets/pelis/indy.jpg" class="card-img-top" alt="...">
          </blockquote>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <img src="assets/pelis/pierrot.jpg" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="card">
          <img src="assets/pelis/queer.jpg" class="card-img" alt="...">
    </div>
    <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
            <img src="assets/pelis/volver.jpg" class="card-img-top" alt="...">
        </blockquote>
    </div>
    <div class="card">
        <div class="card-body">
            <img src="assets/pelis/miami.jpg" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="card">
        <img src="assets/pelis/term.jpg" class="card-img" alt="...">
    </div>
    <div class="card">
        <img src="assets/pelis/sing.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Stanley Donen, Gene Kelly</h5>
            <p class="card-text">In 1927 Hollywood, a silent film star falls for a chorus girl just as he and his paranoid screen partner struggle to make the difficult transition to talking pictures.</p>
        </div>
    </div>
    <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
            <img src="assets/pelis/stop.jpg" class="card-img-top" alt="...">
        </blockquote>
    </div>
    <div class="card">
        <img src="assets/pelis/dreams.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Akira Kurosawa</h5>
            <p class="card-text">Eight visually rich vignettes drawn from Kurosawa’s own dreams. From fox weddings and vanished orchards to a walk through Van Gogh’s canvases.</p>
        </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
        <blockquote class="blockquote mb-0">
            <img src="assets/pelis/aliens.jpg" class="card-img-top" alt="...">
        </blockquote>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <img src="assets/pelis/aggro.jpg" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="card">
        <img src="assets/pelis/lost.jpg" class="card-img" alt="...">
    </div>
    <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
            <img src="assets/pelis/blow.jpg" class="card-img-top" alt="...">
        </blockquote>
    </div>
</div>

<h2>Videojuegos</h2>
<div class="wrapper">
    <div class="item"><img src="assets/juegos/msg.png"></div>
    <div class="item"><img src="assets/juegos/msg2.jpg"></div>
    <div class="item"><img src="assets/juegos/sys.jpg"></div>
    <div class="item"><img src="assets/juegos/sw.jpg"></div>
    <div class="item"><img src="assets/juegos/grim.jpg"></div>
    <div class="item"><img src="assets/juegos/hyl.jpg"></div>
    <div class="item"><img src="assets/juegos/yakuza.jpg"></div>
    <div class="item"><img src="assets/juegos/p5.jpg"></div>
    <div class="item"><img src="assets/juegos/ds.jpg"></div>
    <div class="item"><img src="assets/juegos/blood.jpg"></div>
    <div class="item"><img src="assets/juegos/dark.jpg"></div>
    <div class="item"><img src="assets/juegos/hades.jpg"></div>
    <div class="item"><img src="assets/juegos/me.jpg"></div>
    <div class="item"><img src="assets/juegos/unc.jpg"></div>
    <div class="item"><img src="assets/juegos/insi.png"></div>
    <div class="item"><img src="assets/juegos/ri.jpg"></div>
    <div class="item"><img src="assets/juegos/blas.jpg"></div>
    <div class="item"><img src="assets/juegos/ds2.jpg"></div>
    <div class="item"><img src="assets/juegos/hl.jpg"></div>
    <div class="item"><img src="assets/juegos/metro.jpg"></div>
    <div class="item"><img src="assets/juegos/h2.jpg"></div>
    <div class="item"><img src="assets/juegos/ff.png"></div>
    <div class="item"><img src="assets/juegos/dusk.png"></div>
    <div class="item"><img src="assets/juegos/ironlung.png"></div>
</div>

<h2>Música</h2>
<div class="covers">
    <div class="cover">
        <img src="assets/music/sling.jpg">
        <div class="overlay">
            <div class="texto">Sling</div>
        </div>
    </div>
    <div class="cover">
        <img src="assets/music/strokes.jpg">
        <div class="overlay">
            <div class="texto">Comedown Machine</div>
        </div>
    </div>
    <div class="cover">
        <img src="assets/music/alvvays.jpg">
        <div class="overlay">
            <div class="texto">Alvvays</div>
        </div>
    </div>
    <div class="cover">
        <img src="assets/music/smiths.png">
        <div class="overlay">
            <div class="texto">The Smiths</div>
        </div>
    </div>
</div>