<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
      <div class="navbar-nav mx-auto">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-tab">HOME</a>
        <a class="nav-link" [routerLink]="['/projects']" routerLinkActive="active-tab">PROJECTS</a>
        <a class="nav-link" [routerLink]="['/certificates']" routerLinkActive="active-tab">CERTIFICATES</a>
        <a class="nav-link" [routerLink]="['/likes']" routerLinkActive="active-tab">WHAT I LIKE</a>
    </div>
  </div>
</nav>
